$primary-dark-blue: hsl(238, 29%, 16%);
$primary-soft-red: hsl(14, 88%, 65%);

$neutral-dark-grey: hsl(237, 12%, 33%);
$neutral-medium-grey: hsl(240, 6%, 50%);
$neutral-light-grey: hsl(240, 5%, 91%);
$neutral-white: hsl(0, 0%, 100%);

$bg-gradient-top: hsl(273, 75%, 66%);
$bg-gradient-bottom: hsl(240, 73%, 65%);