$font-weight-regular: 400;
$font-weight-bold:    700;

:root {
    font-size: 12px;
    font-family: Kumbh Sans;
}

@mixin title {
    font-size: 2.6rem;
    font-weight: $font-weight-bold;
}

@mixin subtitle-bold {
    font-size: 1.2rem;
    font-weight: $font-weight-bold;
}

@mixin subtitle {
    font-size: 1.2rem;
    font-weight: $font-weight-regular;
}

@mixin body-copy {
    font-size: 1rem;
    font-weight: $font-weight-regular;
}