@use 'colors';
@use 'fonts';
@use 'breakpoints';

:root {
    height: 100%;
}

body {
    background-image: linear-gradient(colors.$bg-gradient-top, colors.$bg-gradient-bottom);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    
    .main-container {
        width: 920px;
        height: 510px;
        background-color: colors.$neutral-white;
        border-radius: 24px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        box-shadow: 0 30px 30px colors.$shadow; 
        position: relative;
        margin-top: 96px;
        
        picture {
            position: absolute;
            left: -125px;
        }

        .faq-container {
            padding: 64px 96px 80px 0;
            display: flex;
            flex-direction: column;
            gap: 16px;

            h1 {
                @include fonts.title;
                color: colors.$primary-dark-blue;
                margin-top: 0;
            }

            .row-container {
                border-bottom: 1px solid colors.$neutral-light-grey;
                padding-bottom: 16px; 
                display: flex;
                flex-direction: column;
                
                button {
                    @include fonts.subtitle;
                    color: colors.$neutral-dark-grey;
                    border: none;
                    width: 350px;
                    height: 24px;
                    background: none;
                    padding-left: 0px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    font-family: inherit;
                    cursor:pointer;
                }
    
                button:hover {
                    color: colors.$primary-soft-red;
                }
    
                .description {
                    display: none;
    
                    p {
                        @include fonts.body-copy;
                        color: colors.$neutral-medium-grey;
                        margin-bottom: 0;
                        max-width: 308px;
                    }
                }
            }
        }
    }
    
    .attribution { 
        font-size: 11px; 
        text-align: center;
        color: colors.$neutral-white;  
        
        a { 
            color: colors.$neutral-white; 
        }
    }
}

@include breakpoints.smallScreen;


