/* Fonts*/

:root {
    font-size: 14px;
}

@mixin font-family-body {
    font-family: open sans;
}

/* Body Copy */
@mixin body-copy {
    @include font-family-body;
    font-size: 1rem;
    font-style: normal;
    line-height: 28px;
    letter-spacing: -0.28px;
    text-align: center;
}

@mixin caption {
    @include font-family-body;
    font-size: 0.85rem;
    font-style: normal;
    line-height: 14px;
    letter-spacing: -3%;
    text-align: center;
    font-weight: 700;
}

@mixin caption-small {
    @include font-family-body;
    font-size: 0.6rem;
    font-style: normal;
    line-height: 10px;
    letter-spacing: normal;
    text-align: center;
    font-weight: 400;
}

@mixin body-copy-regular {
    @include body-copy;
    font-weight: 400;
}

@mixin body-copy-bold {
    @include body-copy;
    font-weight: 700;
}

/* Headings */
@mixin font-family-headings {
    font-family: Raleway;
}

@mixin heading-h1 {
    @include font-family-headings;
    font-weight: 700;
    font-size: clamp(1.7rem, 4vw, 2.8rem);
    font-style: normal;
    line-height: calc(clamp(1.7rem, 4vw, 2.8rem) * 1.4);
    letter-spacing: normal;
    text-align: center;
    margin: 0;
    width: clamp(304px, 80%, 720px);
}

@mixin heading-h2 {
    @include font-family-headings;
    font-weight: 700;
    font-size: clamp(1.3rem, 4vw, 2.4rem);
    font-style: normal;
    line-height: calc(clamp(1.3rem, 4vw, 2.4rem) * 1.4);
    letter-spacing: normal;
    text-align: center;
    margin: 0;
}

@mixin heading-h3 {
    @include font-family-headings;
    font-weight: 700;
    font-size: clamp(1.2rem, 4vw, 1.4rem);
    font-style: normal;
    line-height: calc(clamp(1.2rem, 4vw, 1.4rem) * 1.4);
    letter-spacing: normal;
    text-align: center;
    margin: 0;
}



