/* Colors*/
$primary-orange: hsla(25, 97%, 53%, 1);
$neutral-very-dark-blue: hsla(216, 12%, 8%, 1);
$neutral-dark-blue: hsla(213, 19%, 18%, 1);
$neutral-medium-grey: hsla(216, 12%, 54%, 1);
$neutral-light-grey: hsla(217, 12%, 63%, 1);
$neutral-white: hsla(0, 0%, 100%, 1);
$neutral-grey-opac10: hsla(217, 12%, 63%, 0.1);